@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-inter);

  --color-primary:	#0095E4;
  --color-primary-10:	#000F17;
  --color-primary-15:	#001622;
  --color-primary-20:	#001E2E;
  --color-primary-30:	#002D44;

  --color-neutral-light: #FFFFFF;
  --color-neutral-medium: #C8C8C8;
  --color-neutral-dark: #89919B;
  --color-neutral-darker: #8A939D;

  --color-success: #3AAA29;
  --color-warning: #F04D1A;
  --color-caution: #FFD13F
}
